.container-about{
    display: grid;
    grid-template-columns: 1fr;
}

.title-about{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.paragraph-about-us{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}